/** CSS for NavBar **/

.hero {
  font-size: min(max(16px, 4vw), 26px);
  color: #ffffff;
  padding-bottom: 10px;
}

.brand {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.25rem;
  white-space: nowrap;
  padding: 10;
}

.ant-layout-header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
}

.trigger {
  transform: rotate(90deg);
  margin-right: 1rem;
}

.menu-divider {
  position: relative;
}

.menu-divider:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1px;
  height: 100%;
  content: '';
  background: #183045 !important;
}

.ant-menu {
  font-family: inherit;
  line-height: inherit;
  box-shadow: none;
  display: inline-block;
  border: 0;
}
.ant-menu-item,
.ant-menu-item,
.ant-menu-submenu-title {
  padding: 0 1rem;
}
.ant-menu-item,
.ant-menu-submenu {
  top: 2px;
}

.nav-link {
  display: initial;
  color: inherit;
}

.ant-list-header,
.ant-list-footer {
  padding-left: 1rem;
  padding-right: 1rem;
}