

.asterisk {
    display: inline-block;
    margin-right: 4px;
    color: #f5222d !important;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
}

.autoMargin {
    margin: 0 auto;
}

.textCenter {
    text-align: center;
}