.registerEventForm {
  width: 100%;
  max-width: 960px;
  text-align: center;
  border: 1px dashed blue;
  padding: 20px;
  margin: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.registerEventForm2 {
  width: 100%;
  max-width: 960px;
  text-align: center;
  border: 1px dashed red;
  padding: 20px;
  margin: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.registerEventForm3 {
  width: 100%;
  max-width: 960px;
  text-align: center;
  border: 1px dashed orange;
  margin: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
